################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-_Selenium/CopilotIndices/17.14.995.13737
/.vs/C-_Selenium/FileContentIndex/f1ddd4b6-ab81-485f-8200-e94168d0ecf5.vsidx
/.vs/C-_Selenium/v17/DocumentLayout.json
